// Specific CSS for your home-page
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.index-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}


.index-separate {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0.5rem 1rem;
}
