// Specific CSS for your home-page
h1 {
  font-size: 22px;
  color: $dark-gray;
}

h2 {
  font-size: 20px;
  color: $dark-gray;
}

p {
  font-size: 14px;
  color: $dark-gray;
}

main {
  min-height: 100vh;
}

body {
  margin: 0 auto;
  height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.content-container {
  display: flex;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.cards {
  flex: 4;
}

.cards h1 {
  border-bottom: 3px solid $orange-shade;
  display: inline-block;
  margin-bottom: 15px;
}

.reviews {
  flex: 2;
  margin-left: 20px;
}

.reviews h1 {
  border-bottom: 3px solid $orange-shade;
  display: inline-block;
  margin-bottom: 15px;
}
