// Specific CSS for your home-page
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-singular{
  width: 50%;
  margin-bottom: 12px;
}

.index-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.index-separate {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 0.5rem 1rem;
}


.index-search-form{
  margin-right: 4px;
}

h1 {
  font-size: 24px;
}
