<div class="footer">
  <div class="footer-copyright">
    © 2021 strEAT Guide Mexico
  </div>
  <div class="footer-links">
    <a href="https://github.com/80BDIJK5/streat_guide_mexico" target="_blank"><i class="fab fa-github"></i></a>
  </div>
</div>
