<div class="review-card">
  <div class="review-card-product-infos">
    <h2>
      <%= review.title %>
    </h2>
    <p>
      <% review.rating.times do |rating| %>
          <span class="fa fa-star checked"></span>
        <% end %>
        <% ratingDelta = 5 - review.rating %>
        <% ratingDelta.times do |time| %>
          <span class="fa fa-star"></span>
        <% end %>
    </p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
  </div>
  <img class="avatar-large" src='https://kitt.lewagon.com/placeholder/users/Eschults' width="50px" />
</div>
