<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <div class="card-container">
    <%= render 'shared/stallcard' %>
    <%= render 'shared/stallcard' %>
  </div>
</div>

<br>
<br>
<br>

<div class="container">
  <a class="btn btn-header" href="#">Login</a>
  <a class="btn btn-main" href="#">Search</a>
  <a class="btn btn-second" href="#">Surprise me</a>
</div>
