<%= render 'shared/banner' %>

<div class="row">
  <div class="col-sm-7 pl-5 pt-3">
  <h1>Trending today</h1>
    <div class="card-container">
      <% Stall.all.first(2).each do |stall| %>
      <%= render partial: "shared/stallcard", locals: {stall: stall} %>
    <% end %>
    </div>
  </div>

  <div class="col-sm-5 pr-5 pt-3">
  <h1>Latest reviews</h1>
    <% 2.times do |time| %>
      <%= render partial: "shared/review-card" %>
    <% end %>
  </div>
</div>
