<%= render 'shared/banner' %>

<div class="row">
  <div class="col-sm-7 pl-5 pt-3">
  <h1>Trending today</h1>
    <div class="card-container">
      <% Stall.all.first(2).each do |stall| %>
      <%= render partial: "shared/stallcard", locals: {stall: stall} %>
    <% end %>
    </div>
  </div>

  <div class="col-sm-5 pr-5 pt-3">
  <h1>Latest reviews</h1>
    <% 2.times do |time| %>
    <div class="review-card">
  <div class="review-card-product-infos">
      <h2>
      <%= @stall.reviews.first.title %>
    </h2>
    <p>
      <% @stall.reviews.first.rating.times do |rating| %>
          <span class="fa fa-star checked"></span>
        <% end %>
        <% ratingDelta = 5 - @stall.reviews.first.rating %>
        <% ratingDelta.times do |time| %>
          <span class="fa fa-star"></span>
        <% end %>
    </p>
    <p>
      <%=@stall.reviews.first.comment %>
    </p>
  </div>
  <img class="avatar-large" src='https://kitt.lewagon.com/placeholder/users/Eschults' width="50px" />
</div>

    <% end %>
  </div>
</div>
