<%= render 'shared/banner' %>

<div class="home-container">
  <div class="cards pl-5 mt-3">
    <h1>Trending today</h1>
    <div class="card-container">
      <% Stall.all.last(2).each do |stall| %>
      <%= render "shared/stallcard", stall: stall %>
      <% end %>
    </div>
    <div class="card-container">
      <% Stall.all.first(2).each do |stall| %>
      <%= render "shared/stallcard", stall: stall %>
      <% end %>
    </div>
  </div>
  <div class="reviews pr-5 mt-3 ml-5">
    <h1>Latest reviews</h1>
    <% @reviews.each do |review| %>
      <%= render "shared/review-card", review: review %>
    <% end %>
  </div>
</div>
