<%= render 'shared/banner' %>

<div class="row">
  <div class="col-sm-8 ml-10 ">
  <h1>Trending today:</h1>
    <div class="card-container">
      <%= render 'shared/stallcard' %>
      <%= render 'shared/stallcard' %>
      </div>
  </div>

  <div class="col-sm-4">
  <h1>Latest reviews</h1>
    <% 4.times do |time| %>
      <%= render partial: "shared/review-card" %>
    <% end %>
  </div>
</div>
