
  <div class="index-search">

  <input class="form-control" type="text" placeholder="Default input">

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Action2</a>
    </div>
  </div>

  <button type="button" class="btn btn-outline-primary">Search</button>
  </div>

  <div class="index-separate">
  <div class="card-container-index">
      <% @stalls.first(6).each do |stall| %>
      <%= render partial: "shared/stallcard", locals: {stall: stall} %>
    <% end %>
  </div>

  <div class="map-image">
  <div id="map"
     style="width: 54rem; height: 76rem;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
  </div>
