<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>ADD A NEW FOOD STALL</h1>
      <%= render "form", stall: @stall %>
      <%= link_to "Back to home", root_path, class: 'btn btn-block btn-secondary' %>
    </div>
  </div>
</div>
