<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-design">
        <h1>ADD A NEW FOOD STALL</h1>
        <%= render "form", stall: @stall %>
        <%= link_to "Back to home", root_path, class: 'btn btn-block btn-secondary' %>
      </div>
    </div>
  </div>
</div>
