.banner {
  padding: 150px 0;
  text-align: left;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-image: url(street-tacos.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.banner h1 {
  margin: 0;
  color: $light-gray;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: $light-gray;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
