.navbar-lewagon {
  justify-content: space-between;
  padding: 10px 40px;
  background-color: $mexico-green-shade;
  transition: 0.5s background-color ease;
  position: sticky;
  z-index: 1030;
  // top: 0;
  // left: 0;
  // right: 0;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 35px;
}

.dropdown-menu {
  background-color: $mexico-red;
  border: none;
}

