.navbar-lewagon {
  justify-content: space-between;
  padding: 10px 40px;
  background-color: $mexico-green-shade;
  transition: 0.5s background-color ease;
  position: sticky;
  z-index: 1030;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 30px;
}

.dropdown-menu {
  background-color: $light-gray;
  border: none;
}

.dropdown-menu a {
  color: $black;
}

.dropdown-menu a:hover {
  background-color: $light-gray;
  color: $mexico-green;
}

.avatar-2 {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.nav-item {
  margin-right: 15px;
}
