.review-card {
  overflow: hidden;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 2px;
}

.review-card img {
  object-fit: cover;
  margin-right: 5px;
  margin-left: 5px;
}

.review-card h2 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 6px;
}

.review-card p {
  font-size: 13px;
  line-height: 1.0;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
}

.checked {
  color: $orange;
}
