.form-container {
  width: 80%;
  padding: 12px 20px;
  margin: 0 0;
  height: 52px;
}

.form-container::placeholder {
  color: #d6d6d6;
  font-weight: normal;
  font-size: 1rem;
}

.form-container:focus {
  border: 3px solid #d6d6d6;
}

input:focus {
  outline: none;
}
