.stall-img-small {
  margin: 3px;
  border-radius: 25%;
}

.img-stall {
  max-height: 200px;
  max-width: 100%;
  object-fit: contain;
  text-align: center;
  margin: 2px;
}
.img-align {
  text-align: center;
}
