<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-lg-8 ">
      <div class="form-design">
        <h1>SUMBIT A REVIEW</h1>
        <%= render "reviewform", stall: @stall %>
        <%= link_to "Back to stall", stall_path(@stall), class: 'btn btn-block btn-second' %>
      </div>
    </div>
  </div>
</div>
